@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.c-container{
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    height: 500px;
    padding: 20px 12px ;

}


.contact-links {

    width: 300px;
    height: 56px;
    display: flex;
    /* position: absolute;
    right: 12px;
    bottom: 10px; */
    margin: 12px;

}



.contact-links a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ff6347;
    border-radius: 50%;
    font-size: 20px;
    color: #ff6347;
    text-decoration: none;
    margin: 6px 15px 6px 0;
}
.contact-links a:hover {
    background: #ff6347;
    color: #fff;;
    box-shadow: 0 0 20px #ff6347;
    transform: scale(1.01) translateY(-4px);
}


.btn-box{
    width: 6rem;
    height: 20px;
    display: inline-block;
    padding: 12px 28px;
    font-size: 16px;
    background: #ff6347;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 48px;
    margin: 12px 0;
    
}
.btn-box:hover{
    box-shadow: 0 0 20px #ff6347;
}

.img-box{
    width: 50%;
    max-height: 302px;
    

}
.img-box img{
    border-radius: 12%;
    width: 100%;
    height: auto;
    max-width: 240px;


}

.font-ss{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-text h1{
    font-size: 24px ;
    margin: 6px 0;
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.about-text h2{
    font-size: 18px;
    margin: 10px 0;
    font-family:Montserrat, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.about-text p{
    font-size: 16px;
    font-family: sans-serif, monospace;
    margin: 12px 0;


}