
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container{
    width: calc(100% - 24px);
    padding: 12px;
    height: auto;


}


.container h1{
    font-size: 24px ;
    margin: 6px 0;

}

.container h2{
    font-size: 18px;
    margin: 10px 0;
    color: #ff6347;
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.container h3{
    font-size: 18px;
    margin: 10px 0;
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container p{
    font-size: 16px;
    font-family: sans-serif, monospace;
    margin: 15px 0;


}


.recipe-list{
    position: relative;
    top: 0;
    left: 0;
    margin: 20px 0;


}

.recipe-search-li{
    margin: 10px 0;
    background-color: #f5f7f9;
    border:2px solid #f5f7f9;
    border-radius: 8px;


}
.recipe-search-li:hover{
    box-shadow: 0 0 25px #ff6347;
}

.top{
    position: fixed;
    right: 2.2rem;
    bottom: 2.2rem;
}
.top i{
    color: #000000;
    background: #ff6347;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
footer{
    display: block;
    margin-top: 60px;
}