
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container{
    width: calc(100% - 24px);
    padding: 12px;
    height: auto;


}


.container h1{
    font-size: 24px ;
    margin: 6px 0;

}

.container h2{
    font-size: 18px;
    margin: 10px 0;

}

.container p{
    font-size: 16px;
    font-family: sans-serif, monospace;

}


.recipe-list{
    position: relative;
    top: 0;
    left: 0;

}