*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ebe7e7;
    color: black;
    display: grid;
    grid-template-rows: auto 1fr auto;

}
.logo{
   
    display: inline-flex;
    flex-direction: row;
    margin: 12px 8px;


}
.logo p{
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 8px;


}
header{
    height: 4rem;
    background-color: #ff6347;
    box-shadow: 0 0 20px #7e7c7c;

}
nav{
    width: 100%;
    height: 4rem;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    
}
.font-head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.font-ss{
    font-family: sans-serif, monospace;

}

.container{
    width: 100%;
    height: 600px;

}
.home-text{
    width: 100%;
    text-align: center;

    height: 60px;
}
.home-text h1{
    font-size: 24px;

}
.home-text h1 span{
    font-size: 24px;
    color: #ff6347;
}

.home-img{
    max-width: 100vw;
    width: 100%;
    height: 100%;
    max-height: 400px;

}
.img-container{
    margin: 8px 0;

}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;

    cursor: pointer;
    
}

#check{
    display: none;

}


/* .menu-list  li a{
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    margin: 13px 20px ;
}
.menu-list li a:hover{
    color: #0ef;

} */
.checkbtn{
    display: block;
    position: absolute;
    right: 0px;

}

/* .menu-list{
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    left: -100%;
     */



ul{
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition:  all 0.5s ;


}
nav ul li{
    display: block;
    margin: 15px 0;
    line-height: 30px;
}

nav ul li a{
    font-size: 20px;
    color: #7e7c7c;
    text-decoration: none;

}
nav ul li a:hover, a.active{
    color: #ff6347;
    text-decoration: underline;
}

#check:checked ~ ul{
    z-index: 999;
    left: 0;
    top: 64px;

}

.menu-list{
    flex-direction: column;
    left: -100%;
    
}

.main-bg-1{
    background-color: #ff6347;
}

.last-text{
    padding: 13px 6px;
}

.last-text p{
    margin-top: 0px;
    color: #fff;
}


#heart{
    color: #fff;
}
footer{
    height: 4rem;
}


.btn-box{
    width: 100%;
    height: 4rem;
    background-color: blue;

}

.btn{
    background-color: #ff6347;
    max-width : 60px;
    width: 100%;
    color: white;
}