
{% extends 'base.html' %}

{% load static %}

{% block title %}About {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock head %}

{% block main %}

<section class="home" id="home">
    <div class="container">

        <div class="c-first">
            <h1 class="font-head">About FlavorMaster</h1>
    
        <p>Welcome to FlavorMaster, your personal culinary chatbot companion! Are you hungry and in need of inspiration for your next delicious meal? Look no further. FlavorMaster is here to assist you with a wide variety of recipes, preparation tips, and suggested recipe videos.</p>
        
        <h2 class="font-head">Our Mission</h2>
        
        <p>At FlavorMaster, our mission is to provide you with a delightful cooking experience. We want to make it easy for you to explore new recipes, learn valuable preparation tips, and watch engaging recipe videos that will elevate your culinary skills.</p>
        
        <h2 class="font-head">What can FlavorMaster do for you?</h2>
        
        <p>FlavorMaster offers an array of features designed to satisfy your culinary cravings:</p>
        
        <ul>
            <li><strong>Recipe Recommendations:</strong> When hunger strikes, FlavorMaster comes to the rescue. Simply let us know your preferences, dietary requirements, and available ingredients, and we'll suggest mouthwatering recipes that are tailored to your needs.</li>
            
            
        </ul>
        

        </div>

        <div class="c-second">

        </div>
       
        
        
        
        
    </div>
</section>

{% endblock main %}

{% block script %}

<script src="{% static 'js/script.js' %}"> </script>

{% endblock script %}