
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>
    
    {% block head %}
    {% endblock head %}

</head>

<body>

    <header>
        <nav>
            <input type="checkbox" id="check">
            <label id="check-label" for="check" class="checkbtn">
                <i class='bx bx-menu'></i>
               
            </label>
            <div class="logo">
                <img src="/static/img/recipe-icon.svg" height="40px" alt="Bot" class="logo-img">
                <p class="font-head">FlavorMaster.</p>
            </div>
            
            <ul class="menu-list">
                <li><a class="font-ss active" href="/">Home</a></li>
                <!-- <li><a class="font-ss" href="#about">About</a></li> -->
                <li><a  class="font-ss" href="/about">About</a></li>

                <li><a class="font-ss" href="/services">Services</a></li>
                
                <li><a class="font-ss" href="/contact">Contact</a></li>
            </ul>

        </nav>

    </header>


    <main>
        {% block main %}
        {% endblock main %}
    </main>

    

    <footer class="main-bg-1">
        <div class="last-text ">
            <p class="font-ss">Developed with <i id="heart" class=' bx bxs-heart'></i> Love by Adarsh Maurya &copy; 2023
            </p>
        </div>

    </footer>

    {% block script %}
    
    {% endblock script %}



</body>

</html>