
{% extends 'base.html' %}

{% load static %}

{% block title %}Home {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
{% endblock head %}

{% block main %}

<section class="home" id="home">
    <div class="container">
        
        <div class="img-container">
            {% comment %} <img class="home-img" src="/static/img/recipe-3.jpg" alt="FlavorMaster"> {% endcomment %}

            <div class="welcome">

                <h1>Welcome to <span class="dynamic-txt"></span></h1>
                <p class="font-ss">
                    Your personal culinary chatbot companion! Are you hungry and in need of inspiration for your next delicious meal? Look no further. FlavorMaster is here to assist you with a wide variety of recipes, preparation tips, and suggested recipe videos.   
                </p>
                <div class="btn-box">
           
                    <a class="btn" href="/recipe"> Get Started <i class='bx bx-right-arrow-alt'></i>  </a>
                </div>

                <div class="contact-links">
                    <a target="_blank" href="https://www.linkedin.com/in/adarsh-maurya-09343a262/"><i
                        class='bx bxl-linkedin'></i></a>
                <a href="https://github.com/4darsh-Dev" target="_blank"><i class='bx bxl-github'></i></a>
                <a target="_blank" href="https://www.facebook.com/people/Onion-Reads/100089856034775"><i
                        class='bx bxl-facebook'></i></a>
                <a target="_blank" href="#"><i class='bx bxl-instagram'></i></a>
                <a target="_blank" href="https://twitter.com/OnionReads"><i class='bx bxl-twitter'></i></a>
            
                </div>
    
            </div>
            
        </div>
        
    </div>
</section>

{% endblock main %}

{% block script %}

<script src="{% static '/js/script.js' %}"> </script>

{% endblock script %}