
{% extends 'base.html' %}

{% load static %}

{% block title %}Home {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock head %}

{% block main %}

<section class="home" id="home">
    <div class="container">
        
        <div class="img-container">
            <img class="home-img" src="/static/img/recipe.jpg" alt="FlavorMaster">

        </div>
    </div>
</section>

{% endblock main %}

{% block script %}

<script src="{% static '/js/script.js' %}"> </script>

{% endblock script %}