{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recpie-Chatbot</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <img src="/static/img/assistance.png" height="40px" alt="Bot" class="logo-img">
                <p class="font-head">FlavorMaster.</p>
            </div>

        </nav>

    </header>


    <main>
        <section class="home" id="home">
            <div class="container">
                <!-- <div class="font-ss home-text" >
                    <h1>Welcome to <span>FlavorMaster</span> </h1>
                </div> -->
                <div class="img-container">
                    <img class="home-img" src="/static/img/recipe.jpg" alt="FlavorMaster">

                </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>

    <script src="{% static '/js/script.js' %}"> </script>


</body>

</html>