
{% extends 'base.html' %}

{% load static %}

{% block title %} Recipe {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<link rel="stylesheet" href="{% static '/css/recipe.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock head %}

{% block main %}

<section class="home" id="home">
    <div class="container">
        <div class="bot-img">
            <img src="{% static '/img/chat-bot.svg' %}" alt="Bot">
        </div>
        <div class="chat-box">
            <div class="bot-message">
                <p>{{ greeting }}</p>
            </div>
        </div>
        <div class="user-box">
            <div class="us-box-ins">

                <div class="mess-fm">
                    <form action="">
                        <input  type="text" placeholder="Enter your message...">
                    </form>
                </div>
                <div class="mess-btn">
                    <i  class='bx bx-send'></i>
                </div>

            </div>
            
            
        </div>
        
        
    </div>
</section>

{% endblock main %}

{% block script %}

<script src="{% static '/js/script.js' %}"> </script>

{% endblock script %}