
{% extends 'base.html' %}

{% load static %}

{% block title %}Services {% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock head %}

{% block main %}

<section class="home" id="home">
    <div class="container">

    
    
    </div>

    <div class="s-first">
        <h1 class="font-head" >Welcome to Flavor Master - Your Ultimate Recipe Bot!</h1>
    
    <h2 class="font-head" >Our Motto:</h2>
    <p>At Flavor Master, we believe that everyone deserves to savor delicious meals, whether they follow a vegetarian or non-vegetarian diet. Our mission is to make cooking enjoyable and accessible for all, by providing a wide range of mouthwatering recipes right at your fingertips. With our innovative recipe bot, you can explore a diverse selection of veg and non-veg recipes to satisfy your taste buds and elevate your culinary skills.</p>
    
    <h2 class="font-head" >How It Works:</h2>
    <p>Using our user-friendly website, you can easily request your preferred type of recipe – be it a delightful vegetarian dish or a scrumptious non-vegetarian treat. Our advanced AI-powered bot will instantly generate a list of recipes tailored to your request, making it simple for you to find the perfect recipe for any occasion, whether it's a cozy family dinner, a gathering with friends, or a special celebration.</p>
    
    
    <h2 class="font-head" >Spread the Flavors:</h2>
    <p>We believe that good food should be shared and enjoyed with loved ones. We encourage you to share Flavor Master with your friends and relatives, so they can also benefit from the joy of discovering new and delicious recipes. The more, the merrier! Together, let's make every meal a delightful experience for everyone.</p>
    
    


    </div>

</section>

{% endblock main %}

{% block script %}

<script src="{% static 'js/script.js' %}"> </script>

{% endblock script %}